<p style="color: green"><%= notice %></p>

<h1>Pokedexes</h1>

<div id="pokedexes">
  <% @pokedexes.each do |pokedex| %>
    <%= render pokedex %>
    <p>
      <%= link_to "Show this pokedex", pokedex %>
    </p>
  <% end %>
</div>

<%= link_to "New pokedex", new_pokedex_path %>
